*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

    #grandparent{
        background: red;
        padding: 100px;
    }

    .parent{
        padding: 70px;
        background-color: purple;
    }

    .child{
        padding: 50px;
        background-color: yellow;
    }